.verified {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: fit-content;
  align-items: center;
  background-color: #fad3be;
  border: 1px solid var(--secondary-color);
  padding: 6px 14px;
  border-radius: 30px;
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 14px;
}

.verified img {
  width: 20px;
}