.navbar {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 95%;
  background-color: #f5eee9;
  border-radius: 6px 6px 24px 24px;
  border: 1.5px solid #f5ddcc;
  box-shadow: 0 5px 16.7px -3px
    color-mix(in srgb, var(--third-color), transparent 70%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px 8px;
  box-sizing: border-box;
  z-index: 9999;
  margin: 0 auto;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 16px;
  transition: all 0.3s ease;
}

.navIconImage {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.navText {
  font-size: 13px;
  font-weight: 600;
  color: #475569;
}

.navItemActive {
  background-color: var(--third-color);
  padding: 10px 20px;
  box-shadow: 0 4px 10px rgba(234, 88, 12, 0.2);
}

.navTextActive {
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 400px) {
  .navbar {
    padding: 10px 2px;
  }
  .navItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 16px;
    transition: all 0.3s ease;
    text-decoration: none;
  }

  .navIconImage {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }

  .navText {
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
  }

  /* --- STATE AKTIF --- */
  .navItemActive {
    padding: 10px 20px;
    text-decoration: none;
  }

  .navTextActive {
    font-size: 10px;
    font-weight: 700;
    color: #ffffff;
  }
}
