.bgScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background-color: var(--background-color);
  height: 98vh; 
}

.lottieWrapper {
  position: absolute;
  z-index: 2;
}

.bgScreen img {
  position: absolute; 
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0;
  animation: fadeInBackground 0.8s ease-in-out forwards;
}

@keyframes fadeInBackground {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}