/* Warna default saat TIDAK terpilih (Abu-abu) */
.nextButton {
    background-color: #D1D1D1;
    color: #000;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

.activeButton {
    background-color: var(--primary-color) !important;
    opacity: 1;
    color: #fff;
}

.roleContainer {
    background-color: #fff;
    border-radius: 24px;
    border: 3px solid #E0E0E0;
    margin-top: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.activeCard {
    border-color: var(--primary-color);
}

.img img {
    width: 100%;
    height: auto;
    border-radius: 23px 23px 0 0;
}

.content {
    padding: 2% 6%;
}

.contentTitle {
    display: flex;
    align-items: center;
    gap: 12px;
}

.contentTitle h3 {
    color: var(--text-primary);
    font-weight: bold;
    font-size: 18px;
}

p.contentText {
    color: var(--text-secondary);
    font-size: 14px;
    margin-top: 8px;
    line-height: 20px;
}

.footerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.footerContent h3 {
    color: color-mix(in srgb, var(--text-secondary), transparent 40%);
    font-weight: 500;
    font-size: 16px;
}