h2.title {
  color: var(--text-primary);
  font-weight: bold;
  font-size: 22px;
}

h4.subtitle {
  color: var(--text-secondary);
  font-weight: 500;
  font-size: 16px;
  margin-top: 20px;
  line-height: 25px;
}

.roleContainer {
  background-color: #fff;
  border-radius: 24px;
  border: 3px solid var(--primary-color);
  margin-top: 24px;
}

.actionContainer {
  margin-top: 40px;
  padding-bottom: 40px;
}

.fullWidthBtn {
  width: 100%;
  height: 60px;
  font-size: 16px;
  margin-bottom: 30px;
}

p.footerdesc {
  width: 100%;
  color: var(--text-secondary);
  font-size: 14px;
  text-align: center;
}
