.textHighlight {
  color: var(--primary-color);
  font-weight: 600;
}

.logoContainers {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

@media (max-width: 750px) {
  .logoContainers {
    margin-top: 30px;
  }
}

@media (max-width: 450px) {
  .logoContainers {
    margin-top: 50px;
  }
}

@media (max-width: 390px) {
  .logoContainers {
    margin-top: 50px;
  }
}

@media (height <= 660px) {
  .logoContainers {
    margin-top: 40px;
  }
}
