.minatComponent {
  width: 100%;
  margin-bottom: 40px;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

p.title {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

.content {
  width: 100%;
  min-height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: flex-start;
}

.capsule {
  width: fit-content;
  padding: 10px 18px;
  margin: 0px;
  border: 2px solid var(--border);
  background-color: color-mix(in srgb, var(--primary-color), transparent 90%);
  color: var(--primary-color);
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

.capsule.active {
  background-color: var(--primary-color);
  color: var(--light-text);
  border: 2px solid var(--primary-color);
}

.capsuleAdd {
  border: 2px dashed var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
}

.capsuleAdd:hover {
  background-color: color-mix(in srgb, var(--primary-color), transparent 90%);
}

.customInput {
  width: 140px;
  padding: 10px 18px;
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: var(--text-primary);
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  outline: none;
}

.customInput::placeholder {
  font-weight: normal;
  color: var(--primary-color);
}

.buttonskip {
    border: none;
}
